<p>
  <div ng-bind-html="messages"></div>
  <div>
    <ul class="nav nav-tabs" role="tablist" id="DBTabs">
      <li role="presentation" class="active"><a href="#tab-data-list" aria-controls="tab-data-list" role="tab">List</a></li>
      <li role="presentation"><a href="#tab-data-new" aria-controls="tab-data-new" role="tab"><span class="glyphicon glyphicon-user text-danger" aria-hidden="true" title="Server Admin Only"></span> New ...</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-data-list">
        <div class="form-group">
          <label for="field-search">Search</label>
          <input type="text" class="form-control" id="field-search" placeholder="name" ng-model="query"/>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 20%;">Status</th>
              <th style="width: 80%;">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="database in databases | filter: query">
              <td align="center"><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><a class="item" href="#/database/{{database}}"><i class="glyphicon glyphicon-hdd"></i> {{database}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-data-new">
        <div class="panel panel-info" style="margin-top: 20px;">
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="field-db-name">New database name</label>
                <input type="text" class="form-control" id="field-db-name" placeholder="name"/>
              </div>
              <button type="submit" class="btn btn-primary" ng-click="onNewDB()">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
	<script>
		$('#DBTabs a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	</script>
</p>