<p>
	<div ng-bind-html="messages"></div>
	<div class="panel panel-default">
		<div class="panel-body">
			Settings for user <strong>{{user}}</strong>.
		</div>
	</div>
	<div>
		<ul class="nav nav-tabs" role="tablist" id="UserTabs">
			<li role="presentation" class="active"><a href="#tab-data-privileges" aria-controls="#tab-data-privileges" role="tab">Privileges</a></li>
			<li role="presentation"><a class="tab-admin" href="#tab-data-security" aria-controls="#tab-data-security" role="tab">Security</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab-data-privileges" style="margin-top: 20px;">
				<div class="panel panel-danger" style="margin-top: 20px;">
					<div class="panel-body">
						<span class="text-danger">The grant/revocation of privileges to <strong>{{user}}</strong> for a database requires either the database's administration privilege, or the server privilege.</span>
					</div>
				</div>
				<div class="panel panel-info" style="margin-top: 20px;">
					<div class="panel-heading">
						<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#grant-form" aria-expanded="false" aria-controls="grant-form">Grant privilege</button>
					</div>
					<div id="grant-form" class="panel-body collapse">
						<form>
							<div class="form-group">
								<label for="field-grant-database">Database</label>
								<input type="text" class="form-control" id="field-grant-database" placeholder="database" />
							</div>
							<div class="form-group">
								<label for="field-grant-privilege">Privilege</label>
								<select id="field-grant-privilege" class="form-control">
									<option>READ</option>
									<option>WRITE</option>
									<option>ADMIN</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary" ng-click="onGrant()">GRANT</button>
						</form>
					</div>
				</div>
				<div class="form-group">
					<label for="field-search">Search</label>
					<input type="text" class="form-control" id="field-search" placeholder="name" ng-model="query" />
				</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th style="width: 20%;">Action</th>
							<th style="width: 20%;">Database</th>
							<th style="width: 20%;">Is Admin</th>
							<th style="width: 20%;">Can Write</th>
							<th style="width: 20%;">Can Read</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="access in privileges | filter: {database: query}">
							<td align="center">
								<div class="dropdown">
									<button class="btn btn-danger btn-xs dropdown-toggle" type="button" id="menu-revoke" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="true">
										Revoke <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="menu-revoke">
										<li><a ng-if="access.isAdmin" ng-click="onRevoke(access, 'ADMIN')">ADMIN</a></li>
										<li><a ng-if="access.canWrite" ng-click="onRevoke(access, 'WRITE')">WRITE</a></li>
										<li><a ng-if="access.canRead" ng-click="onRevoke(access, 'READ')">READ</a></li>
									</ul>
								</div>
							</td>
							<td><a class="item" href="#/database/{{access.database}}"><i class="glyphicon glyphicon-hdd"></i> {{access.database}}</a></td>
							<td align="center">
								<p ng-if="access.isAdmin">
									<span class="glyphicon glyphicon-ok text-success" aria-hidden="true" title="GRANTED"></span>
								</p>
							</td>
							<td align="center">
								<p ng-if="access.canWrite">
									<span class="glyphicon glyphicon-ok text-success" aria-hidden="true" title="GRANTED"></span>
								</p>
								<p ng-if="!access.canWrite && access.isAdmin">
									<span class="glyphicon glyphicon-plus text-info" aria-hidden="true" title="INFERRED"></span>
								</p>
							</td>
							<td align="center">
								<p ng-if="access.canRead">
									<span class="glyphicon glyphicon-ok text-success" aria-hidden="true" title="GRANTED"></span>
								</p>
								<p ng-if="!access.canRead && (access.isAdmin || access.canWrite)">
									<span class="glyphicon glyphicon-plus text-info" aria-hidden="true" title="INFERRED"></span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-data-security">
				<div class="panel panel-danger" style="margin-top: 20px;">
					<div class="panel-body">
						<span class="text-danger">The reset of <strong>{{user}}</strong>'s password or the deletion of <strong>{{user}}</strong> require the server administration privilege.</span>
					</div>
				</div>
				<div class="panel panel-danger" style="margin-top: 20px;">
					<div class="panel-heading">Reset the password</div>
					<div class="panel-body">
						<div class="panel panel-danger">
							<div class="panel-body">
								<span>Beware that resetting the password will make the account inaccessible to user <strong>{{user}}</strong>, unless you tell him/her the new password.</span>
							</div>
						</div>
						<form>
							<div class="form-group">
								<label for="field-password-1">New password</label>
								<input type="password" class="form-control" id="field-password-1" placeholder="Password" />
							</div>
							<div class="form-group">
								<label for="field-password-2">New password (the same)</label>
								<input type="password" class="form-control" id="field-password-2" placeholder="Password" />
							</div>
							<button type="submit" class="btn btn-primary" ng-click="onPasswordChange()">OK</button>
						</form>
					</div>
				</div>
				<div class="panel panel-danger" style="margin-top: 20px;">
					<div class="panel-heading">Delete the user</div>
					<div class="panel-body">
						<div class="panel panel-default">
							<div class="panel-body">
								This operation cannot be undone.
							</div>
						</div>
						<form>
							<button type="submit" class="btn btn-danger" ng-click="onUserDelete()">Delete user <strong>{{user}}</strong></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#UserTabs a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	</script>
</p>