<p>
  <div ng-bind-html="messages"></div>
  <div>
    <ul class="nav nav-tabs" role="tablist" id="DBTabs">
      <li role="presentation" class="active"><a href="#tab-data-list" aria-controls="tab-data-list" role="tab">List</a></li>
      <li role="presentation"><a class="tab-admin" href="#tab-data-new" aria-controls="tab-data-new" role="tab">New ...</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-data-list">
        <div class="form-group">
          <label for="field-search">Search</label>
          <input type="text" class="form-control" id="field-search" placeholder="name" ng-model="query" />
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 100%;">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter: query">
              <td><a class="item" href="#/user/{{user.name}}"><i class="glyphicon glyphicon-user"></i> {{user.name}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab-data-new">
        <div class="panel panel-info" style="margin-top: 20px;">
          <div class="panel-body">
            <div class="panel panel-danger">
              <div class="panel-body">
                <span class="text-danger">The creation of a new user requires the server administration privilege.</span>
              </div>
            </div>
            <form>
              <div class="form-group">
                <label for="field-user-login">New user name</label>
                <input type="text" class="form-control" id="field-user-login" placeholder="name" />
              </div>
              <div class="form-group">
                <label for="field-user-password-1">New user password</label>
                <input type="password" class="form-control" id="field-user-password-1" placeholder="password" />
              </div>
              <div class="form-group">
                <label for="field-user-password-2">New user password (again)</label>
                <input type="password" class="form-control" id="field-user-password-2" placeholder="password" />
              </div>
              <button type="submit" class="btn btn-primary" ng-click="onNewUser()">Create</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#DBTabs a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
  </script>
</p>