.body {
  width: 90%;
  margin-left: 5%;
}

.hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header {
  margin-top: 5px;
}

.tab-admin {
  background-color: #EE6666;
  color: white;
}

.tab-db-admin {
  background-color: #CCCC66;
}
