.body {
  width: 90%;
  margin-left: 5%;
}

.hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header {
  margin-top: 5px;
}

.breadcrumb {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0px;
}