<!DOCTYPE html>
<html lang="en" ng-app="xOWLServer">

<head>
  <meta charset="utf-8">
  <title>xOWL Server</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" type="text/css" href="vendors/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="vendors/bootstrap-theme.min.css">
</head>

<body>
  <div ng-controller="xOWLServerCtrl" class="header">
    <span style="margin-left: 5px; display: inline-block;">
      <img ng-if="!onAsync" class="img-responsive" src="assets/xowl.png" width="25px" style="display: inline-block;"/>
      <img ng-if="onAsync" class="img-responsive" src="assets/xowl.gif" width="25px" style="display: inline-block;"/>
      xOWL Server
    </span>
    <div ng-if="xowl.userName != null" style="display: inline-block; margin-left: 50px;">
      <div class="btn-group" role="toolbar" aria-label="main-menu" style="display: inline-block;">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Databases <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#databases">Browse all ...</a></li>
          <li role="separator" class="divider"></li>
          <li ng-repeat="database in databases"><a href="#/database/{{database.name}}">{{database.name}}</a></li>
        </ul>
      </div>
      <div class="btn-group" role="toolbar" aria-label="main-menu" style="display: inline-block;">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#account">My account</a></li>
          <li><a href="#server">Server</a></li>
          <li><a href="#users">Users</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#login" ng-click="onLogoutButton()">Logout</a></li>
        </ul>
      </div>
      <span style="display: inline-block; margin-left: 50px;">
        Connected as <strong>{{xowl.userName}}</strong>
      </span>
    </div>
    <hr style="margin-top: 5px; margin-bottom: 5px;" />
  </div>
  <div ng-if="onAsync && onAsyncLong" class="async-marker">
    <img class="img-responsive" src="assets/xowl.gif" width="128px" />
    <div>
      <span>This operation is<br/>taking some time ...</span>
    </div>
  </div>
  <div class="body" ng-view></div>
  <script src="vendors/jquery-2.1.4.min.js"></script>
  <script src="vendors/angular.min.js"></script>
  <script src="vendors/angular-route.min.js"></script>
  <script src="vendors/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="xowl-api.js"></script>
  <script src="xowl-api-angular.js"></script>
  <script src="xowl-quads.js"></script>
  <script src="modules/login/login.js"></script>
  <script src="modules/server/server.js"></script>
  <script src="modules/account/account.js"></script>
  <script src="modules/databases/databases.js"></script>
  <script src="modules/database/database.js"></script>
  <script src="modules/users/users.js"></script>
  <script src="modules/user/user.js"></script>
</body>

</html>