<p>
	<div ng-bind-html="messages"></div>
	<div>
		<ul class="nav nav-tabs" role="tablist" id="UserTabs">
			<li role="presentation" class="active"><a href="#tab-data-privileges" aria-controls="#tab-data-privileges" role="tab">Privileges</a></li>
			<li role="presentation"><a href="#tab-data-security" aria-controls="#tab-data-security" role="tab">Security</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab-data-privileges" style="margin-top: 20px;">
				<div class="panel panel-default" style="margin-top: 20px;">
					<div class="panel-body">
						<span>This page summarizes the privileges assigned to you. Edit them <strong><a href="#/user/{{xowl.userName}}">here</a></strong>.</span>
					</div>
				</div>
				<div class="form-group">
					<label for="field-search">Search</label>
					<input type="text" class="form-control" id="field-search" placeholder="name" ng-model="query" />
				</div>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th style="width: 25%;">Database</th>
							<th style="width: 25%;">Is Admin</th>
							<th style="width: 25%;">Can Write</th>
							<th style="width: 25%;">Can Read</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="access in privileges | filter: {database: query}">
							<td><a class="item" href="#/database/{{access.database}}"><i class="glyphicon glyphicon-hdd"></i> {{access.database}}</a></td>
							<td align="center">
								<p ng-if="access.isAdmin">
									<span class="glyphicon glyphicon-ok text-success" aria-hidden="true" title="GRANTED"></span>
								</p>
							</td>
							<td align="center">
								<p ng-if="access.canWrite">
									<span class="glyphicon glyphicon-ok text-success" aria-hidden="true" title="GRANTED"></span>
								</p>
								<p ng-if="!access.canWrite && access.isAdmin">
									<span class="glyphicon glyphicon-plus text-info" aria-hidden="true" title="INFERRED"></span>
								</p>
							</td>
							<td align="center">
								<p ng-if="access.canRead">
									<span class="glyphicon glyphicon-ok text-success" aria-hidden="true" title="GRANTED"></span>
								</p>
								<p ng-if="!access.canRead && (access.isAdmin || access.canWrite)">
									<span class="glyphicon glyphicon-plus text-info" aria-hidden="true" title="INFERRED"></span>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-data-security">
				<div class="panel panel-danger" style="margin-top: 20px;">
					<div class="panel-heading">Change password</div>
					<div class="panel-body">
						<form>
							<div class="form-group">
								<label for="field-password-1">New password</label>
								<input type="password" class="form-control" id="field-password-1" placeholder="Password" />
							</div>
							<div class="form-group">
								<label for="field-password-2">New password (the same)</label>
								<input type="password" class="form-control" id="field-password-2" placeholder="Password" />
							</div>
							<button type="submit" class="btn btn-primary" ng-click="onPasswordChange()">OK</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#UserTabs a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	</script>
</p>